<div class="hero-unit" id="footer">
	<div class="container">
		<span>&copy; Copyright <%= Time.now.year %>&nbsp;&nbsp;&nbsp;<i class="fa fa-rocket"></i>&nbsp;&nbsp;&nbsp;Josh Roth</span>
		<span>&nbsp;&nbsp;&bullet;&nbsp;&nbsp;</span>
		<span>Made with <%= link_to 'Bootstrap', 'http://getbootstrap.com/', :target => '_blank' %> and <%= link_to 'Middleman', 'http://www.middlemanapp.com/', :target => '_blank' %></span>
	</div>
</div>