<div class="hero-unit" id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1><%= link_to 'Josh Roth', '/' %></h1>
				<h2>Designer, Developer, Animator</h2>
			</div>
			<div class="col-md-6 hidden-xs">
				<ul class="list-unstyled" id="header-nav">
					<li><a class="social" href="mailto:josh@joshmroth.com"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;Contact Me</a></li>
					<li><a class="social" href="Josh_Roth_Resume_2014.pdf" target="_blank"><i class="fa fa-file-text fa-lg"></i>&nbsp;&nbsp;Download My Resume</a></li>
					<!--<li><a class="social" href="http://twitter.com/joshroth" target="_blank"><i class="fa fa-twitter fa-lg"></i>&nbsp;&nbsp;Follow Me</a></li>
					<li><a class="social" href="http://adventuresinanimation.tumblr.com/" target="_blank"><i class="fa fa-tumblr fa-lg"></i>&nbsp;&nbsp;My Blog</a></li>-->
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="mobile-menu">
	<a href="#"><div class="container">
		<div class="row visible-xs">
			<div class="col-sm-12">
				<i class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;Menu
			</div>
		</div>
	</div></a>
</div>
<div id="mobile-navigation">
	<div class="container visible-xs">
		<div class="row">
			<a href="mailto:josh@joshmroth.com"><div class="col-sm-12">
				Contact Me
			</div></a>
			<a href="/Josh_Roth_Resume_2014.pdf" target="_blank"><div class="col-sm-12">
				Download My Resume
			</div></a>
			<a href="/#portfolio"><div class="col-sm-12">
				Portfolio
			</div></a>
			<a href="/#experience"><div class="col-sm-12">
				Experience
			</div></a>
			<a href="/#education"><div class="col-sm-12">
				Education
			</div></a>
			<a href="/#skills"><div class="col-sm-12">
				Skills
			</div></a>
		</div>
	</div>
</div>
