<div class="hero-unit" id="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1><%= link_to 'Josh Roth', '/' %></h1>
				<h2>Designer, Developer, Animator</h2>
			</div>
			<div class="col-lg-6">
				<ul class="list-unstyled" id="header-nav">
					<li><a class="social" href="mailto:josh@joshmroth.com"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;Email Me</a></li>
					<li><a class="social" href="Josh_Roth_Resume_2014.pdf" target="_blank"><i class="fa fa-file-text fa-lg"></i>&nbsp;&nbsp;My Resume</a></li>
					<li><a class="social" href="http://twitter.com/joshroth" target="_blank"><i class="fa fa-twitter fa-lg"></i>&nbsp;&nbsp;Follow Me</a></li>
					<li><a class="social" href="http://adventuresinanimation.tumblr.com/" target="_blank"><i class="fa fa-tumblr fa-lg"></i>&nbsp;&nbsp;My Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>