body {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.hero-unit {
	background: #1F1A1D image-url('stardust.png');
	padding: 30px 0;
    color: #94808d;
    margin: 0 0 30px 0;
    // min-height: 200px;
}

.hero-unit .social {
    color: #94808d;
    margin-right: 15px;
	text-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.hero-unit .social:hover {
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

h1 {
	color: #FFFFFF;
	font-family: "Roboto Slab", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 45px;
	margin: 0;
	padding: 0;
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

#header h2 {
    color: #94808d;
    border-bottom: none;
	font-family: "Roboto Slab", Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	padding: 10px 0 0 0;
}

.close {
	color: #1F1A1D;
}

h2 {
	border-bottom: 2px dotted #ccc;
	color: #1F1A1D;
	font-family: "Roboto Slab", Helvetica, sans-serif;
	font-weight: 700;
	margin: 25px 0 15px 0;
	padding: 0 0 15px 0;
}

h2:first-child { margin-top: 0; }

#below { margin-top: 30px; }

#experience p {
	font-size: 13px;
	color: #1F1A1D;
}

#experience em {
	color: #999999;
}

#education li, #skills li {
	margin: 0 0 5px 0;
}

#skills .fa {
	font-size: 1.25em;
}

.media-body h3 {
	margin: 0 0 10px 0;
}

.media-body h3 span {
	color: #AAA;
}

#footer {
	text-align: center;
	text-shadow: 0 2px 5px rgba(0,0,0,0.25);
    margin: 30px 0 0 0;
	padding: 10px 0;
}

#footer a, #footer a:visited {
    color: #94808d;
	text-shadow: 0 2px 5px rgba(0,0,0,0.25);
	text-decoration: none;
}

#footer a:hover {
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

@media (min-width: 970px) {
  .container {
    max-width: 960px;
  }
}