body {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.hero-unit {
	background: #1F1A1D image-url('stardust.png');
	padding: 30px 0;
    color: #94808d;
    margin: 0 0 30px 0;
    // min-height: 200px;
}

.hero-unit .social {
    color: #94808d;
    margin-right: 15px;
	text-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.hero-unit .social:hover {
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

#header h1 {
	color: #FFFFFF;
	font-family: "Roboto Slab", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 45px;
	margin: 0;
	padding: 0;
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

#header h1 a, #header h1 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#header h1 a:hover {
	color: #94808d;
	-webkit-transition: color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

#header h2 {
    color: #94808d;
    border-bottom: none;
	font-family: "Roboto Slab", Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	padding: 10px 0 0 0;
}

#header-nav li {
	float: left;
	font-size: 1.25em;
	margin-right: 5px;
	text-align: right;
}

#header-nav li:last-child { margin-right: 0; }

.close {
	color: #1F1A1D;
	margin-left: 5px;
}

h2 {
	border-bottom: 2px dotted #ccc;
	color: #1F1A1D;
	font-family: "Roboto Slab", Helvetica, sans-serif;
	font-weight: 700;
	margin: 25px 0 15px 0;
	padding: 0 0 15px 0;
}

h2:first-child, #portfolio { margin-top: 0; }

#below { margin-top: 30px; }

#experience p {
	font-size: 13px;
	color: #1F1A1D;
}

#experience em {
	color: #999999;
}

#education li, #skills li {
	margin: 0 0 5px 0;
}

#skills .fa {
	font-size: 1.25em;
}

h3 {
	margin: 0 0 10px 0;
}

h3 a, h3 a:visited {
	color: #000;
	text-decoration: none;
}

h3 a:hover {
	color: #428bca;
	text-decoration: none;
	-webkit-transition: color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

h2 span, h3 span {
	color: #CCC;
	font-style: italic;
	font-weight: 400;
}

.thumb:hover {
	box-shadow: 0 0 5px #428bca;
	-webkit-transition: box-shadow 0.25s ease-in-out;
	-moz-transition: box-shadow 0.25s ease-in-out;
	transition: box-shadow 0.25s ease-in-out;	
}

#footer {
	text-align: center;
	text-shadow: 0 2px 5px rgba(0,0,0,0.25);
    margin: 30px 0 0 0;
	padding: 10px 0;
}

#footer a, #footer a:visited {
    color: #94808d;
	text-shadow: 0 2px 5px rgba(0,0,0,0.25);
	text-decoration: none;
}

#footer a:hover {
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

#view-tablet, #view-mobile {
	display: none;
}

@media (min-width: 970px) {
	.container {
		max-width: 960px;
	}
	.portfolio .row {
		margin-bottom: 30px;
	}  
}

@media (max-width: 768px) {
	.hero-unit {
		margin: 0;
		padding: 15px 0 10px 0;
	}
	#mobile-menu {
		background: #94808d;
		font-size: 1.25em;
		font-weight: 700;
		padding: 10px 0;
		text-transform: uppercase;
	}
	#mobile-menu:active {
		background: #000;
		-webkit-transition: background 0.1s ease-in-out;
		-moz-transition: background 0.1s ease-in-out;
		transition: background 0.1s ease-in-out;		
	}
	#mobile-menu a, #mobile-menu a:visited {
		color: #FFFFFF;
		text-decoration: none;
	}
	#mobile-menu a:hover {
		text-shadow: 0 2px 5px rgba(0,0,0,0.5);
		-webkit-transition: text-shadow 0.25s ease-in-out;
		-moz-transition: text-shadow 0.25s ease-in-out;
		transition: text-shadow 0.25s ease-in-out;
	}
	#mobile-navigation {
		background: #94808d;
		display: none;
		font-size: 1.25em;
		font-weight: 700;
		padding: 0 0 10px 0;
	}
	#mobile-navigation a {
		color: #FFFFFF;
		text-decoration: none;
	}
	#mobile-navigation a:active {
		color: #000;
	} 
	#mobile-navigation .col-sm-12 {
		margin-bottom: 10px;
	}
	#header-nav li {
		width: 100%;
		clear: both;
	}
	.thumb {
		margin-bottom: 10px;
	}
	.portfolio > .row {
		border-bottom: 1px dotted #ccc;
		margin-bottom: 10px;
	}
	#filter-replace, h2 span, h3 span, #footer span {
		clear: both;
		display: block;
		width: 100%;
	}
	h2:first-child { margin-top: 25px; }	
	a > .btn-block {
		background: #94808d image-url('stardust.png');
		margin-bottom: 5px;
		text-decoration: none;
		text-shadow: 0 2px 5px rgba(0,0,0,0.5);		
	}
	a > .btn-block:visited {
		text-decoration: none !important;
	}
	a:hover > .btn-block:hover {
		background: #1f1a1d;
		text-decoration: none !important;
	}
	a > .btn-block:active {
		background: #94808d;
	}
	.mobile-buttons .btn {
		margin-bottom: 5px;
		width: 100%;
	}
}